body, html {
    height: 100%;
    background-image: url(../images/milky-way.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    
}

.display-buttons {
    float: right;
    
}